# Ignore environment variables
interviewer_chatbot/.env

# Python cache
*.pyc
*.pyo
*.json
# Jupyter notebook checkpoints
interviewer_chatbot/venv/
interviewer_chatbot/__pycache__/
interviewer_chatbot/.ipynb_checkpoints/

.vscode/
.env
.
.ipynb_checkpoints/


faiss_index_user123

*.pdf

# Ignore SQLite database files
*.sqlite
*.sqlite3

# Ignore SQLite temporary and journal files
*.sqlite-wal
*.sqlite-shm
*.db
.env.local

**/__init__.py

**/lg-ev*/
**.bin