interviewer_chatbot/.env

*.pyc
*.pyo
interviewer_chatbot/venv/
interviewer_chatbot/__pycache__/
interviewer_chatbot/.ipynb_checkpoints/
webrtc/task1_webrtc/venv/
livekit_app/lk-ev
livekit_app/server/node_modules
livekit_app/client/node_modules

webrtc/task2_webrtc/venv/

.vscode/
.env
.
.ipynb_checkpoints/


faiss_index_user123

*.pdf

*.sqlite
*.sqlite3

*.sqlite-wal
*.sqlite-shm
*.db
.env.local

**/__init__.py

**/lg-ev*/
**.bin
**.env.docker
